.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #bdbdbd69;
  font-size: 20px;
} 

.burger {
  display: none;
}

@media (max-width: 600px) {
  nav {
    padding-right: 15px;
  }

  .burger {
    display: block;
  }

  ul {
    display: none;
  }
}